
<div class="container" *ngIf="!paymentSuccessFull">

  <form   [formGroup]="formGroup" (ngSubmit)="onSubmit()" >

  <div class="row">
    <div class="col s12">
      <div class="logo center-align">
        <img src="https://www.paymentwall.com/uploaded/files/paymentwall-logo.svg" class="pw-logo">
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col s10 offset-s1 xl6 offset-xl3">
      <div class="row">
        <div class="col s6">
          <mz-input-container>
            <input mz-input
                   [length] = "false"
                   [autocomplete]="countries"
                   placeholder="Type country..."
                   id="country-input"
                   length="150"
                   autocomplete="off"
                   name="country"
                   (change)="setSelectedCountry($event)"
                   [value]="selectedCountry.name"
                   type="text">
          </mz-input-container>
        </div>
        <div class="col s6" *ngIf="selectedCountry.name">
          <mz-input-container >
            <input mz-input mz-validation
                   [length] = "false"
                   [validate]="submitted"
                   [errorMessageResource]="errorMessageResources.amount"
                   formControlName="amount"
                   [(ngModel)]="amount"
                   autocomplete="off"
                   id="amount"
                   placeholder="Enter your amount"
                   type="text"
                   >
          </mz-input-container>
        </div>
      </div>
    </div>
  </div>

  <div class="row" *ngIf="selectedCountry.name">
    <div class="col s10 offset-s1 xl6 offset-xl3">
        <mz-select-container>
          <select mz-select
                  id="options-select"
                  [(ngModel)]="paymentMethod"
                  formControlName="paymentMethod"
                  name="paymentMethod"
                  [placeholder]="'Select payment method'">
            <option *ngFor="let method of paymentMethods" [attr.data-icon]="method.img_url" class="left " [ngValue]="method">{{ method.name }}</option>
          </select>
        </mz-select-container>
    </div>
  </div>
    <!--*ngIf="paymentMethod && selectedCountry.name"-->
  <div class="row" >
    <div class="col s10 offset-s1 xl6 offset-xl3">
      <div class="payment-card card-front">
        <div class="row">
          <div class="col s8"></div>

          <!--<div class="col s4"> <img [src]="paymentMethod.img_url" alt="" class="payment-method-logo"></div>-->
        </div>

        <div class="row">
          <div class="col s10">
            <mz-input-container>
              <input mz-input mz-validation=""
                     [length] = "false"
                     [validate]="submitted"
                     [errorMessageResource]="errorMessageResources.cardNumber"
                     [(ngModel)]="cardNumber"
                     formControlName="cardNumber"
                     id="card-number-input"
                     placeholder="card number"
                     length="10"
                     type="text">
            </mz-input-container>
          </div>
          <div class="col s2"></div>
        </div>

        <div class="row">
          <div class="col s6">
            <mz-input-container>
              <input mz-input mz-validation
                     [length] = "false"
                     [validate]="submitted"
                     [errorMessageResource]="errorMessageResources.cardHolder"
                     formControlName="cardHolder"
                     [(ngModel)]="cardHolder"
                     id="name-input"
                     placeholder="Name Surname"
                     autocomplete="off"
                     length="150"
                     type="text">
            </mz-input-container>
          </div>

          <div class="col s6">
            <div class="col s5">
              <mz-select-container>
                <select mz-select
                        id="month-select"
                        [(ngModel)]="expiredDateMonth"
                        formControlName="expiredDateMonth"
                        name="month"
                        [placeholder]="'MM'">
                  <option *ngFor="let month of availableMonths" [ngValue]="month">{{ month }}</option>
                </select>
              </mz-select-container>

            </div>
            <div class="col s2">
              <div class="date-divider">/</div>
            </div>
            <div class="col s5">
              <mz-select-container>
                <select mz-select
                        id="year-select"
                        formControlName="expiredDateYear"
                        [(ngModel)]="expiredDateYear"
                        name="year"
                        [placeholder]="'YY'">
                  <option *ngFor="let year of availableYears" [ngValue]="year">{{ year - 2000 }}</option>
                </select>
              </mz-select-container>
            </div>
          </div>
        </div>

      </div>
      <div class=" payment-card card-back">
        <div class="stripe">

        </div>

        <div class="cvv-block">
          <div class="row">
            <div class="col s10"> </div>
            <div class="col s2">
              <mz-input-container>
                <input mz-input mz-validation=""
                       [length] = "false"
                       [(ngModel)]="cvv"
                       [validate]="submitted"
                       [errorMessageResource]="errorMessageResources.cvv"
                       formControlName="cvv"
                       id="cvv-input"
                       placeholder="CVV"
                       maxlength="3"
                       type="text">
              </mz-input-container>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="row button-block" *ngIf="paymentMethod && selectedCountry.name">
    <div class="col s10 offset-s1 xl6 offset-xl3">
      <button class="pay-button" type="submit" mz-button>
        Pay {{amount}} {{selectedCountry.currencies[0].symbol}}
      </button>
    </div>
  </div>
  </form>
</div>

<mz-modal #bottomSheetModal [fixedFooter]="true" [bottomSheet]="true" [options]="modalOptions">
  <mz-modal-header>
    <h4>Modal Title</h4>
  </mz-modal-header>
  <mz-modal-content>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  </mz-modal-content>
  <mz-modal-footer>
    <button mz-button [flat]="true" mz-modal-close>Disagree</button>
    <button mz-button [flat]="true" mz-modal-close>Agree</button>
  </mz-modal-footer>
</mz-modal>
